<div class="row">
    <div class="bg-gradient-success shadow-primary border-radius-lg pt-4 pb-3">
        <h3 class="text-white text-capitalize ps-3">Processed Orders</h3>
    </div>
</div><br><br><br>

<div class="card card-body mx-3 mx-md-4 mt-n6">
    <div class="row gx-4 mb-2">
        <div class="col-lg-6 col-md-6 my-lg-auto ms-lg-auto me-lg-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative">
                <ul class="nav nav-pills nav-fill p-1" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="pill" href="#home" role="tab"
                            aria-selected="true">
                            <i class="material-icons text-lg position-relative">home</i>
                            <span class="ms-1">Sales</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="pill" href="#menu1" role="tab"
                            aria-selected="false">
                            <i class="fa-sharp fa-solid fa-business-time"></i>
                            <span class="ms-1">Inventory</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="tab-content">
            <div id="home" class="tab-pane active">

                <% if (salesOrders.length==0) { %>
                <div class="row">
                    <div class="col-md-10 mt-4">
                        <div class="col-12">
                            <div class="card my-4">
                                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                    <div class="bg-gradient-success shadow-primary border-radius-lg pt-4 pb-3">
                                        <h4 class="text-white text-capitalize ps-3">Processed Supplier Orders</h4>
                                    </div>
                                </div>
                                <div class="card-body px-0 pb-2">
                                    <h6 class="mb-1"> No Supplier Orders Available</h6>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } else { %>
                <div class="row">
                    <div class="col-12">
                        <div class="card my-4">

                            <div class="card-body px-0 pb-2">
                                <div class="table-responsive p-0">
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                            <tr>
                                                <th
                                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                    Order ID
                                                </th>
                                                <th
                                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                    Order Date</th>
                                                <th
                                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                    Amount paid</th>
                                                <th
                                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for( let i = 0; i < salesOrders.length; i++ ) { %>
                                            <% var element=salesOrders[i] %>
                                            <tr>
                                                <td class="align-middle text-center">
                                                    <h6 class="mb-0 text-sm"><%= element.order_no %></h6>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs font-weight-bold">
                                                        <% var t=element.order_date %>
                                                        <% var d=new Date(t) %>
                                                        <%= d.toDateString()+' '+d.toLocaleTimeString() %>
                                                    </span>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <p class="text-s text-success font-weight-bold mb-0">Rs
                                                        <%= element.sub_total %>
                                                    </p>
                                                </td>
                                                <td class="align-middle">
                                                    <a href="javascript:;"
                                                        class="text-secondary font-weight-bold text-xs"
                                                        data-toggle="tooltip" data-original-title="Edit user">
                                                        Edit
                                                    </a>
                                                </td>
                                            </tr>
                                            <% } %>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <% } %>

            </div>
            <div id="menu1" class="tab-pane">


                <% if (inventoryOrders.length==0) { %>
                <div class="row">
                    <div class="col-md-10 mt-4">
                        <div class="col-12">
                            <div class="card my-4">
                                <!-- <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                        <div class="bg-gradient-success shadow-primary border-radius-lg pt-4 pb-3">
                                            <h4 class="text-white text-capitalize ps-3">Processed Supplier Orders</h4>
                                        </div>
                                    </div> -->
                                <div class="card-body px-0 pb-2">
                                    <h6 class="mb-1"> No Supplier Orders Available</h6>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } else { %>
                <div class="row">
                    <div class="col-12">
                        <div class="card my-4">

                            <div class="card-body px-0 pb-2">
                                <div class="table-responsive p-0">
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                            <tr>
                                                <th
                                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                    Order ID
                                                </th>
                                                <th
                                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                    Order Date</th>
                                                <th
                                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                    Amount paid</th>
                                                <th
                                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for( let i = 0; i < inventoryOrders.length; i++ ) { %>
                                            <% var element=inventoryOrders[i] %>
                                            <tr>
                                                <td class="align-middle text-center">
                                                    <h6 class="mb-0 text-sm"><%= element.order_no %></h6>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs font-weight-bold">
                                                        <% var t=element.order_date %>
                                                        <% var d=new Date(t) %>
                                                        <%= d.toDateString()+' '+d.toLocaleTimeString() %>
                                                    </span>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <p class="text-s text-success font-weight-bold mb-0">Rs
                                                        <%= element.sub_total %>
                                                    </p>
                                                </td>
                                                <td class="align-middle">
                                                    <a href="javascript:;"
                                                        class="text-secondary font-weight-bold text-xs"
                                                        data-toggle="tooltip" data-original-title="Edit user">
                                                        Edit
                                                    </a>
                                                </td>
                                            </tr>
                                            <% } %>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <% } %>



            </div>
        </div>
    </div>
</div>