<!--
=========================================================
* Material Dashboard 2 - v=3.0.2
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
        <link rel="icon" type="image/png" href="/assets/img/favicon.png">
        <title>
            Negombo Hardware
        </title>
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <!-- Nucleo Icons -->
        <link href="/assets/css/nucleo-icons.css" rel="stylesheet" type="text/css" />
        <!-- <link href="/assets/css/nucleo-svg.css" rel="stylesheet" type="text/css" /> -->
        <!-- Font Awesome Icons -->
        <!-- <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script> -->
        <!-- Material Icons -->
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" /> -->
        <!-- CSS Files -->
        <!-- <link id="pagestyle" href="/assets/css/material-dashboard.css" rel="stylesheet" /> -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="/assets/demo/demo.css" rel="stylesheet" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
            integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body class="">
        <%- include('./notifications/success')  %>
        <%- include('./notifications/error')  %>
        <% let type='' %>
        <% if(userType==='Salesman'){ type='sales' %>
        <% } else if (userType==='Accountant') {type='cashier' %>
        <% } else if (userType==='Manager') { type='manager' %>
        <% } else type='stocks' %>

        <!-- <aside
            class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
            id="sidenav-main" data-username="<%= user_name %>">
            <div class="sidenav-header">
                <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
                    aria-hidden="true" id="iconSidenav"></i>
                <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard "
                    target="_blank">
                    <img src="/assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
                    <span class="ms-1 font-weight-bold text-white">Negombo Hardware</span>
                </a>
            </div>
            <hr class="horizontal light mt-0 mb-2">
            <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <% if (type==='sales') { %>
                    <li class="nav-item">
                        <a  href="http://localhost:3000/NegomboHardware/sales/home"
                            id="homePage">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">dashboard</i>
                            </div>
                            <span class="nav-link-text ms-1">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://localhost:3000/NegomboHardware/sales/orders"
                            id="orderPage">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">receipt_long</i>
                            </div>
                            <span class="nav-link-text ms-1">Order</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://localhost:3000/NegomboHardware/sales/account"
                            id="accountPage">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">person</i>
                            </div>
                            <span class="nav-link-text ms-1">Profile</span>
                        </a>
                    </li>
                    <% } else if(type==='cashier') { %>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://localhost:3000/NegomboHardware/cashier/home"
                            id="homepage">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">dashboard</i>
                            </div>
                            <span class="nav-link-text ms-1">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://localhost:3000/NegomboHardware/cashier/billing"
                            id="orderPage">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">receipt_long</i>
                            </div>
                            <span class="nav-link-text ms-1">Sales Orders</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://localhost:3000/NegomboHardware/cashier/account"
                            id="accountPage">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">person</i>
                            </div>
                            <span class="nav-link-text ms-1">Profile</span>
                        </a>
                    </li>
                    <% } else if(type==='manager') { %>
                    <li class="nav-item">
                        <a class="nav-link text-white active bg-gradient-success"
                            href="http://localhost:3000/NegomboHardware/manager/home">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">dashboard</i>
                            </div>
                            <span class="nav-link-text ms-1">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"
                            href="http://localhost:3000/NegomboHardware/manager/completedOrders">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">receipt_long</i>
                            </div>
                            <span class="nav-link-text ms-1">Orders</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://localhost:3000/NegomboHardware/manager/reports">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">receipt_long</i>
                            </div>
                            <span class="nav-link-text ms-1">Statistics</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://localhost:3000/NegomboHardware/manager/account">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">person</i>
                            </div>
                            <span class="nav-link-text ms-1">Profile</span>
                        </a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://localhost:3000/NegomboHardware/stocks/home">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">dashboard</i>
                            </div>
                            <span class="nav-link-text ms-1">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://localhost:3000/NegomboHardware/stocks/orders">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">receipt_long</i>
                            </div>
                            <span class="nav-link-text ms-1">Sale Orders</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://localhost:3000/NegomboHardware/stocks/inventory">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">receipt_long</i>
                            </div>
                            <span class="nav-link-text ms-1">Inventory</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://localhost:3000/NegomboHardware/stocks/suppliers">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">receipt_long</i>
                            </div>
                            <span class="nav-link-text ms-1">Suppliers</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://localhost:3000/NegomboHardware/stocks/account">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="material-icons opacity-10">person</i>
                            </div>
                            <span class="nav-link-text ms-1">Profile</span>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <div class="sidenav-footer position-absolute w-100 bottom-0 ">
                <div class="mx-3">
                    <button class="btn bg-gradient-danger mt-4 w-100" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">Logout</button>
                </div>
            </div>
        </aside> -->

        <div class="wrapper ">

            <div class="sidebar" data-color="white" data-active-color="danger" data-username="<%= user_name %>"
                id="sidenav-main">
                <div class="logo">
                    <!-- <a href="https://www.creative-tim.com" class="simple-text logo-mini"> -->
                    <!-- <div class="logo-image-small">
                    <img src="./assets/img/logo-small.png">
                  </div> -->
                    <!-- <p>CT</p> -->
                    <!-- </a> -->
                    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
                        Negombo Hardware
                        <!-- <div class="logo-image-big">
                    <img src="../assets/img/logo-big.png">
                  </div> -->
                    </a>
                </div>
                <div class="sidebar-wrapper">
                    <ul class="nav">

                        <% if (type==='sales') { %>
                        <li class="nav-item" id="homePage">
                            <a href="http://localhost:3000/NegomboHardware/sales/home">
                                <i class="nc-icon nc-bank"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item" id="orderPage">
                            <a href="http://localhost:3000/NegomboHardware/sales/orders">
                                <i class="nc-icon nc-single-copy-04"></i>
                                <p class="nav-link-text ms-1">Order</p>
                            </a>
                        </li>
                        <li class="nav-item" id="accountPage">
                            <a href="http://localhost:3000/NegomboHardware/sales/account">
                                <i class="nc-icon nc-circle-10"></i>
                                <p class="nav-link-text ms-1">Profile</p>
                            </a>
                        </li>
                        <% } else if(type==='cashier') { %>
                        <li class="nav-item" id="homepage">
                            <a href="http://localhost:3000/NegomboHardware/cashier/home">
                                <i class="nc-icon nc-bank"></i>
                                <p class="nav-link-text ms-1">Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item" id="orderPage">
                            <a href="http://localhost:3000/NegomboHardware/cashier/billing">
                                <i class="nc-icon nc-single-copy-04"></i>
                                <p class="nav-link-text ms-1">Sales Orders</p>
                            </a>
                        </li>
                        <li class="nav-item" id="accountPage">
                            <a href="http://localhost:3000/NegomboHardware/cashier/account">
                                <i class="nc-icon nc-circle-10"></i>
                                <p class="nav-link-text ms-1">Profile</p>
                            </a>
                        </li>
                        <% } else if(type==='manager') { %>
                        <!-- <li class="nav-item">
                            <a href="http://localhost:3000/NegomboHardware/manager/home">
                                <i class="nc-icon nc-bank"></i>
                                <p class="nav-link-text ms-1">Dashboard</p>
                            </a>
                        </li> -->
                        <li class="nav-item" id="orders">
                            <a href="http://localhost:3000/NegomboHardware/manager/home">
                                <i class="nc-icon nc-single-copy-04"></i>
                                <p class="nav-link-text ms-1">Orders</p>
                            </a>
                        </li>
                        <li class="nav-item" id="stats">
                            <a href="http://localhost:3000/NegomboHardware/manager/reports">
                                <i class="nc-icon nc-chart-bar-32"></i>
                                <p class="nav-link-text ms-1">Statistics</p>
                            </a>
                        </li>
                        <li class="nav-item" id="accountPage">
                            <a href="http://localhost:3000/NegomboHardware/manager/account">
                                <i class="nc-icon nc-circle-10"></i>
                                <p class="nav-link-text ms-1">Profile</p>
                            </a>
                        </li>
                        <% } else { %>
                        <li class="nav-item" id="dashboard">
                            <a href="http://localhost:3000/NegomboHardware/stocks/home">
                                <i class="nc-icon nc-bank"></i>
                                <p class="nav-link-text ms-1">Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item" id="orders">
                            <a href="http://localhost:3000/NegomboHardware/stocks/orders">
                                <i class="nc-icon nc-single-copy-04"></i>
                                <p class="nav-link-text ms-1">Sale Orders</p>
                            </a>
                        </li>
                        <li class="nav-item" id="inventory">
                            <a href="http://localhost:3000/NegomboHardware/stocks/inventory">
                                <i class="nc-icon nc-basket"></i>
                                <p class="nav-link-text ms-1">Inventory</p>
                            </a>
                        </li>
                        <li class="nav-item" id="suppliers">
                            <a href="http://localhost:3000/NegomboHardware/stocks/suppliers">
                                <i class="nc-icon nc-delivery-fast"></i>
                                <p class="nav-link-text ms-1">Suppliers</p>
                            </a>
                        </li>
                        <li class="nav-item" id="accountPage">
                            <a href="http://localhost:3000/NegomboHardware/stocks/account">
                                <i class="nc-icon nc-circle-10"></i>
                                <p class="nav-link-text ms-1">Profile</p>
                            </a>
                        </li>
                        <% } %>
                        <li class="active-pro">

                            <button class="btn bg-danger w-100" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">Logout</button>

                        </li>

                    </ul>
                </div>
            </div>


            <div class="main-panel">

                <!-- Navbar -->


                <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark"
                                            href="javascript:;"><%= title %></a></li>
                                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page"><%= page %>
                                    </li>
                                </ol>
                                <!-- <h6 class="font-weight-bolder mb-0"><%= page %></h6> -->
                            </nav>
                        </div>

                    </div>
                </nav>



                <!-- End Navbar -->

                <div class="content">


                    <%- body %>




                </div>


                <footer class="footer footer-black  footer-white ">
                    <div class="container-fluid">
                        <div class="row">
                        </div>
                        <div class="credits ml-auto">
                            <span class="copyright">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script> Negombo Hardware
                            </span>
                        </div>
                    </div>
                </footer>


            </div>
        </div>




        <div class="modal logout fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Do you wish to logout?</h5>
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="submit" class="btn btn-primary"
                            onclick="location.href='http://localhost:3000/NegomboHardware/logout'">Yes</button> -->
                        <a href="http://localhost:3000/NegomboHardware/logout" type="button"
                            class="btn btn-primary">Yes</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>


        <button data-bs-toggle="modal" data-bs-target="#orderModal" style="display: none;"
            id="acknowledgeOrder"></button>


        <div class="modal logout fade" id="orderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Order has been made</h5>
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="submit" class="btn btn-primary"
                        onclick="location.href='http://localhost:3000/NegomboHardware/logout'">Yes</button> -->
                        <a href="http://localhost:3000/NegomboHardware/sales/home" type="button"
                            class="btn btn-primary">Okay</a>
                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button> -->
                    </div>
                </div>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <!--   Core JS Files   -->
        <script src="/assets/js/core/popper.min.js"></script>
        <script src="/assets/js/core/bootstrap.min.js"></script>
        <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
        <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
        <script src="/assets/js/plugins/chartjs.min.js"></script>
        <script src="/assets/js/plugins/bootstrap-notify.js"></script>
        <script src="/client-dist/socket.io.js"></script>


        <!-- Github buttons -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="/assets/js/material-dashboard.min.js?v=3.0.2"></script>
        <script src="/core/js/customInterface.js"></script>
        <script src="/core/js/notificationsHandler.js"></script>
        <script src="/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
        <script src="<%= script %>"></script>
    </body>

</html>