<!-- <div class="row"> -->
<!-- <div class="bg-gradient-success shadow-primary border-radius-lg pt-4 pb-3"> -->
<h3 class="title">Current Inventory Item Requests</h3>
<!-- </div> -->
<!-- </div> -->
<% if (orderDetails.length==0) { %>
<div class="row">
    <div class="col-md-10 mt-4">
        <div class="card mb-4 card-center">
            <div class="card-header pb-0 px-3">
                <h6 class="mb-0">No Pending Requests Available</h6>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
<% } else { %>
<div class="row">
    <div class="col-md-10 mt-4">
        <div class="card mb-4 card-center">
            <div class="card-header pb-0 px-3">
                <h6 class="title">Pending Requests</h6>
            </div>
            <div class="card-body pt-4 p-3">
                <ul class="list-group">
                    <% for( let i = 0; i < orderDetails.length; i++ ) { %>
                    <% var element=orderDetails[i] %>
                    <li class="list-group-item border-2 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                        <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm"><%= element.orderID %> </h6>
                            <span class="mb-2 text-xs">Item count: <span
                                    class="text-dark font-weight-bold ms-sm-2"><%= element.itemCount %></span></span>
                            <span class="mb-2 text-xs">Time of Order: <span
                                    class="text-dark font-weight-bold ms-sm-2"><%= element.time %></span></span>
                        </div>
                        <div class="ms-auto text-end">
                            <button class="btn btn-link text-danger text-gradient px-3 mb-0 deleteCartItem"
                                type="button" data-itemID="<%= element.orderID %>">Discard</button>
                            <button class="btn btn-link text-dark px-3 mb-0 stockOrder"
                                data-orderID="<%= element.orderID %>">Process</button>
                        </div>
                    </li>
                    <% } %>

                </ul>
            </div>
        </div>
    </div>

</div>

<% } %>








<button data-bs-toggle="modal" data-bs-target="#issueItems" style="display: none;" id="issueItemModal"></button>


<div class="modal fade" id="issueItems" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modalContentPay">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Issue Stock Items</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="issueStockBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="issueStockConfirm">Issue Items</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<script>
    const pageIndicator = document.getElementById('dashboard');
    pageIndicator.classList.add('active');
</script>