<h3 class="title">Inventory Operations</h3>
<div class="card">
    <div class="card-header">
        <div class="nav-wrapper">
            <ul class="nav nav-tabs nav-tabs-primary" role="tablist">
                <li class="nav-item">
                    <a <% if (newScenario) { %> class="nav-link" <% } else {%> class="nav-link active " <% } %>
                        data-bs-toggle="tab" href="#home" role="tab" aria-selected="true">

                        <span class="ms-1">Products</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a <% if (newScenario) { %> class="nav-link active " <% } else {%> class="nav-link " <% } %>
                        data-bs-toggle="tab" href="#menu3" role="tab" aria-selected="false">

                        <span class="ms-1">Add Product</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-bs-toggle="tab" href="#menu1" role="tab" aria-selected="false">

                        <span class="ms-1">Re-stock</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-bs-toggle="tab" href="#menu2" role="tab" aria-selected="false">

                        <span class="ms-1">Pending Orders</span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- </div> -->
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div id="home" <% if (newScenario) { %> class="tab-pane" <% } else {%> class="tab-pane active" <% } %>>
                <div>
                    <h6 class="title">Inventory Items</h6>
                </div>
                <!-- <div class="text-center"> -->
                <!-- <div class="table"> -->
                <table class="table" style="margin-top: 0; margin: left 0;margin-right:auto;margin-left:auto">
                    <thead class="text-primary">
                        <tr>
                            <!-- <th width="25%"></th> -->
                            <th>
                                Item ID
                            </th>
                            <th>
                                Item Name</th>
                            <th class="text-right">
                                Stock Quantity</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let i = 0; i < items.length; i++ ) { %>
                        <% var element=items[i] %>
                        <tr>
                            <!-- <td width="25%"></td> -->
                            <td>
                                <h6 class="title"><%= element.itemID %></h6>
                            </td>
                            <td>

                                <%= element.prodName %>

                            </td>
                            <td class="align-middle text-right">
                                <%= element.quantity %>
                            </td>
                            <td class="align-middle">
                                <a href="/NegomboHardware/stocks/inventory/editProduct/<%= element.itemID %>"
                                    class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                                    data-original-title="Edit user">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        <% } %>

                    </tbody>
                </table>
                <!-- </div> -->
                <!-- </div> -->
                <br>
            </div>
            <div id="menu1" class="tab-pane">
                <div>
                    <h6 class="title">Re-Stock Items</h6>
                </div>
                <div class="table">
                    <table class="table align-items-center mb-0">
                        <thead class="text-primary">
                            <tr>
                                <th>
                                    Item ID
                                </th>
                                <th>
                                    Item Name</th>
                                <th>
                                    Stock Quantity</th>
                                <th class="text-right">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i = 0; i < restock.length; i++ ) { %>
                            <% var element=restock[i] %>
                            <tr>
                                <td>
                                    <h6 class="mb-0 text-sm"><%= element.itemID %></h6>
                                </td>
                                <td>
                                    <span class="text-secondary text-xs font-weight-bold">
                                        <%= element.prodName %>
                                    </span>
                                </td>
                                <td>
                                    <p class="text-s text-danger font-weight-bold mb-0"><%= element.quantity %></p>
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-link text-dark px-3 mb-0 restockItem" type="button"
                                        data-toggle=" tooltip" data-original-title="Edit user"
                                        data-itemID="<%= element.itemID %>">
                                        Place-Order
                                    </button>
                                </td>
                            </tr>
                            <% } %>

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="menu2" class="tab-pane">
                <div>
                    <h6 class="title">Pending Re-Stock Orders</h6>
                </div>
                <div class="table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Item Name
                                </th>
                                <th>
                                    Supplier Name</th>
                                <th>
                                    Quantity</th>
                                <th class="text-right">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i = 0; i < restockOrders.length; i++ ) { %>
                            <% var element=restockOrders[i] %>
                            <tr>
                                <td>
                                    <h6 class="mb-0 text-sm"><%= element.prodName %></h6>
                                </td>
                                <td>
                                    <span class="text-secondary text-xs font-weight-bold">
                                        <%= element.suppName %>
                                    </span>
                                </td>
                                <td>
                                    <p class="text-s text-success font-weight-bold mb-0"><%= element.quantity %></p>
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-link text-dark px-3 mb-0 restockOrders" type="button"
                                        data-toggle=" tooltip" data-original-title="Edit user"
                                        data-itemID="<%= element.prodID %>" data-suppID="<%= element.suppID%>"><i
                                            class="fa-solid fa-truck"></i>
                                        On-Receive
                                    </button>
                                </td>
                            </tr>
                            <% } %>

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="menu3" <% if (newScenario) { %> class="tab-pane active" <% } else {%> class="tab-pane" <% } %>>
                <div>
                    <h6 class="title">Add Product</h6>
                </div>
                <form method="post" action="/NegomboHardware/stocks/addProduct">
                    <fieldset>
                        <!-- <legend>Add new Item</legend> -->
                        <div class="form-group input-group-outline mb-3">
                            <label for="name">Item Name</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                        <div class="form-group input-group-outline mb-3">
                            <label for="details">Description</label>
                            <input type="text" id="details" name="details" class="form-control" required>
                        </div>
                        <div class="form-group input-group-outline mb-3">
                            <label for="sellprice">Selling Price (Rs) </label>
                            <input type="number" min="1" id="sellprice" name="sellprice" class="form-control" required>
                        </div>
                        <!-- <div class="input-group input-group-outline mb-3">
                            <label for="buyingprice" class="form-label">Buying Price (Rs) </label>
                            <input type="number" min="1" id="buyingprice" name="buyingprice" class="form-control">
                        </div> -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>




<button data-bs-toggle="modal" data-bs-target="#restock" style="display: none;" id="restockModal"></button>


<div class="modal logout fade" id="restock" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Place Inventory Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="restockbody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="restockConfirm">Confirm Order</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    const pageIndicator = document.getElementById('inventory');
    pageIndicator.classList.add('active');
</script>